body {
    margin: 0;
    background-color: rgb(213, 255, 255);
}

.mainGame {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.genius {
    display: grid;
    margin-top: 100px;
    grid-template-areas: 'cYellow cBlue'
    'cGreen cRed';
    grid-gap: 10px;
    border: 1px solid white;
    background-color: white;
    border-radius: 100%;
    width: 700px;
    height: 700px;
}

.cBlue {
    grid-area: cBlue;
    background-color: blue;
    border-top-right-radius: 100%;
}

.cYellow {
    grid-area: cYellow;
    background-color: rgb(251, 255, 0);
    border-top-left-radius: 100%;
}

.cRed {
    grid-area: cRed;
    background-color: red;
    border-bottom-right-radius: 100%;
}

.cGreen {
    grid-area: cGreen;
    background-color: green;
    border-bottom-left-radius: 100%;
}

.selected {
    opacity: 0.4;
}